<h1>
  <label class="tracking-wider">СИСТЕМА МОНИТОРИНГА ПРОИЗВОДСТЕВННОГО ОБОРУДОВАНИЯ</label>
</h1>
<hr />
<p></p>
<p class="text-justify tracking-wider">
  Обеспечивает базовые функции агрегирования сведений об эксплуатируемом оборудовании и мониторинга значений технических
  параметров функционирующих экземпляров оборудования.
</p>
<h2>
  <label class="tracking-wider">Управление сведениями об оборудовании</label>
</h2>
<ul class="list-disc list-inside tracking-wider">
  <li>катологизация моделей и экземпляров оборудования</li>
  <li>просмотр сведений и технических спецификаций оборудования</li>
  <li>хранение технической документации</li>
</ul>
<p></p>
<h2>
  <label class="tracking-wider">Мониторинг оборудования</label>
</h2>
<ul class="list-disc list-inside tracking-wider">
  <li>создание экранов мониторинга экземпляров оборудования</li>
  <li>мониторинг значений технических параметров экземпляров оборудования</li>
</ul>
<p></p>
<h2>
  <label class="tracking-wider">Управление пользователями</label>
</h2>
<ul class="list-disc list-inside tracking-wider">
  <li>создание и менеджмент пользователей системы</li>
  <li>разделение прав доступа пользователей</li>
  <li>администрирование и сбор статистики о действиях пользователей</li>
</ul>
