<div class="flex bg-white w-full h-full">
  <table class="table-fixed border-2 rounded-lg border-indigo-400 w-full">
    <thead>
      <tr>
        <th scope="col" class="p-2">№</th>
        <th scope="col" class="p-2 w-1/3">Наименование</th>
        <th scope="col" class="p-2 w-1/3">Описание</th>
        <th scope="col" class="p-2 w-1/3">ᅠ</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngIf="!(models | notEmpty)">
        <tr>
          <th scope="row" class="text-center" colspan="11">Нет доступных моделей оборудования</th>
          <td></td>
        </tr>
      </ng-container>

      <ng-container *ngIf="models | notEmpty">
        <ng-container *ngFor="let model of models; index as i">
          <tr id="heading{{ i }}">
            <td
              class="text-center"
              data-toggle="collapse"
              [attr.data-target]="'#collapse' + i"
              role="button"
              aria-expanded="false"
              [attr.aria-controls]="'collapse' + i"
            >
              {{ i + 1 }}
            </td>
            <td
              class="text-center"
              data-toggle="collapse"
              [attr.data-target]="'#collapse' + i"
              role="button"
              aria-expanded="false"
              [attr.aria-controls]="'collapse' + i"
            >
              {{ model.name }}
            </td>
            <td
              class="text-center"
              data-toggle="collapse"
              [attr.data-target]="'#collapse' + i"
              role="button"
              aria-expanded="false"
              [attr.aria-controls]="'collapse' + i"
            >
              {{ model.description }}
            </td>
          </tr>
          <tr id="collapse{{ i }}" class="collapse table-secondary" [attr.aria-labelledby]="'heading' + i">
            <td class="font-italic" colspan="11">{{ model.description || 'Описание отсутствует' }}</td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
