<div class="min-h-screen flex items-center justify-center sm:px-6 lg:px-8 bg-gradient-to-r from-blue-400 to-indigo-700">
  <div class="transform scale-125 max-w-md w-full space-y-10 rounded-lg py-5 px-5 bg-white shadow-lg">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Войдите в аккаунт</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Или
        <a href="/register" class="font-medium text-indigo-600 hover:text-indigo-500"> Зарегистрируйтесь </a>
      </p>
    </div>
    <form [formGroup]="credentials" novalidate (ngSubmit)="submit()" class="mt-8 space-y-6">
      <input type="hidden" name="remember" value="true" />
      <div class="rounded-md -space-y-px">
        <div class="form-group">
          <label for="login-field" class="sr-only">Email</label>
          <input
            id="login-field"
            name="login"
            type="text"
            autocomplete="email"
            required
            class="
              appearance-none
              rounded-lg
              relative
              block
              w-full
              px-3
              py-2
              border border-gray-200
              placeholder-gray-500
              text-gray-900
              focus:
              outline-none
              focus:ring-indigo-500 focus:border-indigo-500 focus:z-10
              sm:text-sm
            "
            placeholder="Логин"
            formControlName="login"
          />
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Пароль</label>
          <input
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            required
            class="
              appearance-none
              mt-3
              rounded-lg
              relative
              block
              w-full
              px-3
              py-2
              border border-gray-200
              placeholder-gray-500
              text-gray-900
              focus:
              outline-none
              focus:ring-indigo-500 focus:border-indigo-500 focus:z-10
              sm:text-sm
            "
            placeholder="Пароль"
            formControlName="password"
          />
        </div>
      </div>

      <div
        class="bg-red-200 relative text-red-500 p-2 rounded-lg border border-red-500"
        *ngIf="credentials.controls.login.invalid && credentials.controls.login.touched"
      >
        Требуется ввести логин
      </div>

      <div
        class="bg-red-200 relative text-red-500 p-2 rounded-lg border border-red-500"
        *ngIf="credentials.controls.password.invalid && credentials.controls.password.touched"
      >
        Неверный формат пароля
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input
            id="remember_me"
            name="remember_me"
            type="checkbox"
            class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
          />
          <label for="remember_me" class="ml-2 block text-sm text-gray-900"> Запомнить меня </label>
        </div>
      </div>

      <div class="form-group">
        <button
          type="submit"
          class="
            group
            relative
            w-full
            flex
            justify-center
            py-2
            px-4
            border border-transparent
            text-sm
            font-medium
            rounded-lg
            text-white
            bg-indigo-600
            hover:bg-indigo-700
            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
          "
        >
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg
              *ngIf="!isLoading"
              class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                clip-rule="evenodd"
              />
            </svg>
            <svg
              *ngIf="isLoading"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-arrow-repeat animate-spin"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
              />
              <path
                fill-rule="evenodd"
                d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
              />
            </svg>
          </span>
          Войти
        </button>
      </div>
    </form>
  </div>
</div>
