<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-2 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div
      class="
        inline-block
        align-bottom
        bg-white
        rounded-lg
        text-left
        overflow-hidden
        shadow-xl
        transform
        transition-all
        sm:my-8 sm:align-middle sm:max-w-xl sm:w-full
      "
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div
            class="
              mx-auto
              flex-shrink-0 flex
              items-center
              justify-center
              h-12
              w-12
              rounded-full
              bg-indigo-500
              sm:mx-0 sm:h-10 sm:w-10
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="21"
              height="21"
              fill="currentColor"
              class="bi bi-plus-lg text-white"
              viewBox="0 0 16 16"
            >
              <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full mr-12 mb-2">
            <h2 class="pt-1">Добавление нового экземпляра</h2>
            <h3 class="pt-1">Основные сведения</h3>
            <form [formGroup]="this.instanceForm" novalidate (ngSubmit)="submit()" class="mt-8 space-y-6">
              <input type="hidden" value="true" />
              <div class="rounded-md -space-y-px">
                <div class="form-group">
                  <input
                    id="name-field"
                    type="text"
                    required
                    class="
                      appearance-none
                      rounded
                      relative
                      block
                      w-full
                      px-3
                      py-2
                      border border-gray-200
                      placeholder-gray-500
                      text-gray-900
                      focus:
                      outline-none
                      focus:ring-indigo-500 focus:border-indigo-500 focus:z-10
                      sm:text-sm
                    "
                    placeholder="Наименование"
                    formControlName="name"
                  />
                </div>
                <div class="form-group">
                  <input
                    id="description-field"
                    type="text"
                    class="
                      appearance-none
                      mt-3
                      rounded
                      relative
                      block
                      w-full
                      px-3
                      py-2
                      border border-gray-200
                      placeholder-gray-500
                      text-gray-900
                      focus:
                      outline-none
                      focus:ring-indigo-500 focus:border-indigo-500 focus:z-10
                      sm:text-sm
                    "
                    placeholder="Описание"
                    formControlName="description"
                  />
                </div>
              </div>

              <div class="flex flex-row space-x-2 place-content-evenly">
                <button
                  mat-button
                  #trigger="matMenuTrigger"
                  [matMenuTriggerFor]="menu1"
                  (mouseclick)="openStatusMenu()"
                  class="border rounded h-10 focus:outline-none active:border-indigo-500 text-sm p-2 w-1/3 truncate"
                >
                  Статус - {{ status }}
                </button>
                <mat-menu #menu1="matMenu">
                  <button
                    mat-menu-item
                    (click)="setStatus(InstanceStatus.Active)"
                    class="border rounded h-4 focus:outline-none"
                  >
                    Активен
                  </button>
                  <button
                    mat-menu-item
                    (click)="setStatus(InstanceStatus.Inactive)"
                    class="border rounded h-4 focus:outline-none"
                  >
                    Неактивен
                  </button>
                  <button
                    mat-menu-item
                    (click)="setStatus(InstanceStatus.Decommissioned)"
                    class="border rounded h-4 focus:outline-none"
                  >
                    Выведен из эксплуатации
                  </button>
                </mat-menu>

                <button
                  mat-button
                  [matMenuTriggerFor]="menu2"
                  (mouseclick)="openModelsMenu()"
                  class="border rounded h-10 focus:outline-none active:border-indigo-500 text-sm p-2 w-2/3 truncate"
                >
                  Модель - {{ selectedModel.name }}
                </button>
                <mat-menu #menu2="matMenu" class="h-44 w-40 text-center">
                  <button
                    mat-menu-item
                    *ngFor="let model of models$ | async"
                    (click)="setModel(model)"
                    class="border rounded h-4 focus:outline-none"
                  >
                    {{ model.name }}
                  </button>
                </mat-menu>
              </div>

              <div
                class="text-sm bg-red-200 relative text-red-700 p-1 rounded border border-red-700 text-center"
                *ngIf="instanceForm.controls.name.invalid && instanceForm.controls.name.touched"
              >
                Требуется ввести наименование
              </div>

              <div class="form-group flex flex-row-reverse">
                <button
                  type="submit"
                  class="
                    group
                    w-full
                    inline-flex
                    justify-center
                    rounded-md
                    border border-transparent
                    shadow-sm
                    px-4
                    py-2
                    bg-indigo-600
                    text-base
                    font-medium
                    text-white
                    hover:bg-indigo-800
                    focus:outline-none
                    sm:ml-3 sm:w-auto sm:text-sm
                  "
                >
                  Добавить
                </button>
                <button
                  type="button"
                  (click)="cancel()"
                  class="
                    mt-3
                    w-full
                    inline-flex
                    justify-center
                    rounded-md
                    border border-gray-300
                    shadow-sm
                    px-4
                    py-2
                    text-base
                    font-medium
                    hover:bg-gray-300
                    focus:outline-none
                    sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm
                  "
                >
                  Отмена
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
