<div class="bg-gray-100">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <nav class="col-start-2 bg-indigo-800">
    <div class="mx-auto px-3">
      <div class="relative flex items-center justify-between h-14">
        <div class="flex-1 flex items-center justify-between sm:items-stretch sm:justify-start">
          <button class="focus:outline-none" (click)="onClicked($event)">
            <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
              <path
                *ngIf="!isVisible"
                fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                clip-rule="evenodd"
              ></path>
              <path
                *ngIf="isVisible"
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <span class="p-4 text-lg text-white"> СИСТЕМА МОНИТОРИНГА ОБОРУДОВАНИЯ </span>
        </div>
        <div class="flex items-center pr-2">
          <button class="text-white text-base border border-white rounded-lg h-10 px-4">Выход</button>
        </div>
      </div>
    </div>
  </nav>
  <div class="flex flex-row">
    <div class="md:flex flex-col md:flex-row md:min-h-screen">
      <div
        id="sideBarButton"
        *ngIf="isVisible"
        class="
          flex flex-col
          w-72
          bg-white
          dark-mode:text-gray-200 dark-mode:bg-gray-800
          flex-shrink-0
          p-2
          space-y-2
          shadow-lg
          z-40
        "
      >
        <button
          class="bg-transparent hover:bg-indigo-700 hover:text-white py-2 px-4 hover:border-transparent rounded-lg"
        >
          Каталог оборудования
        </button>
        <button
          class="bg-transparent hover:bg-indigo-700 hover:text-white py-2 px-4 hover:border-transparent rounded-lg"
        >
          Развернутые экземпляры
        </button>
        <button
          class="bg-transparent hover:bg-indigo-700 hover:text-white py-2 px-4 hover:border-transparent rounded-lg"
        >
          Мониторинг
        </button>
        <button
          class="bg-transparent hover:bg-indigo-700 hover:text-white py-2 px-4 hover:border-transparent rounded-lg"
        >
          Статистика
        </button>
        <button
          class="bg-transparent hover:bg-indigo-700 hover:text-white py-2 px-4 hover:border-transparent rounded-lg"
        >
          Администрирование
        </button>
      </div>
    </div>
    <div class="rounded-2xl container p-20 mx-36 mt-40 mb-52 bg-white w-full w-full shadow-lg">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
