<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <div class="flex flex-col">
      <button mat-stroked-button color="primary">Модели оборудования</button>
      <button mat-stroked-button color="primary">
        Экземпляры оборудование
      </button>
      <button mat-stroked-button color="primary">Мониторинг</button>
      <button mat-stroked-button color="primary">Статистика</button>
      <button mat-stroked-button color="primary">Администрирование</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      mat-mini-fab
      class="bg-indigo-600 rounded-full"
      aria-label="Example icon button with a menu icon"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{ e }}</div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
