<div class="flex flex-col w-full h-full space-y-1">
  <div class="flex w-full bg-white shadow-lg rounded place-content-center pt-2">
    <h2>Список функционирующих экранов мониторинга</h2>
  </div>
  <div disabled class="flex w-full bg-white rounded overflow-y-auto place-content-center">
    <table class="table-fixed w-full text-sm">
      <thead>
        <tr>
          <th class="p-2">
            <button
              class="bi bi-plus hover:bg-indigo-600 hover:text-white rounded-md focus:outline-none active:bg-indigo-800"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-plus"
                type="button"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                />
              </svg>
            </button>
          </th>
          <th scope="col" class="p-2">№</th>
          <th scope="col" class="p-2 w-3/12">Наименование</th>
          <th scope="col" class="p-2 w-3/12">Экземпляр</th>
          <th scope="col" class="p-2 w-5/12">Описание</th>
        </tr>
      </thead>

      <tbody *ngIf="monitors$ | async as monitors">
        <ng-container *ngIf="!(monitors | notEmpty)">
          <tr>
            <th scope="row" class="text-center" colspan="11">Нет доступных моделей оборудования</th>
            <td></td>
          </tr>
        </ng-container>

        <ng-container *ngIf="monitors | notEmpty">
          <ng-container *ngFor="let monitor of monitors; index as i">
            <tr
              *ngIf="i % 2"
              id="heading{{ i }}"
              class="hover:bg-indigo-700 hover:text-white w-full h-9"
              routerLink="/models/{{ monitor.uid }}"
            >
              <td class="pl-3 text-center"></td>
              <td class="pl-3 text-center">
                {{ i + 1 }}
              </td>
              <td class="text-center truncate">
                {{ monitor.name }}
              </td>
              <td class="text-center truncate">
                {{ monitor.instanceUid }}
              </td>
              <td class="text-center truncate">
                {{ monitor.description }}
              </td>
            </tr>
            <tr
              *ngIf="!(i % 2)"
              id="heading{{ i }}"
              class="bg-blue-100 hover:bg-indigo-700 hover:text-white w-full h-9"
              routerLink="/models/{{ monitor.uid }}"
            >
              <td class="pl-3 text-center"></td>
              <td class="pl-3 text-center">
                {{ i + 1 }}
              </td>
              <td class="text-center truncate">
                {{ monitor.name }}
              </td>
              <td class="text-center truncate">
                {{ monitor.instanceUid }}
              </td>
              <td class="text-center truncate">
                {{ monitor.description }}
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
