<app-fullscreen-loader *ngIf="isLoading"></app-fullscreen-loader>
<app-edit-equipment-instance
  *ngIf="isEditing"
  (addEvent)="updateInstance($event)"
  [name]="instance.name"
  [description]="instance.description"
  [status]="instance.status"
></app-edit-equipment-instance>
<div class="flex flex-col h-full w-full bg-white rounded p-10 space-y-4 text-sm" *ngIf="instance">
  <div class="flex flex-row w-full pl-4 pt-2 items-center justify-between border-b-2 border-blue-500">
    <button
      *ngIf="isAllowed([UserRole.EquipmentAdmin, UserRole.SystemAdmin])"
      (click)="openModal()"
      class="bi bi-plus hover:text-indigo-700 focus:outline-none active:text-indigo-800"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-pencil-square"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
        />
        <path
          fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
        />
      </svg>
    </button>
    <h2>Экземпляр оборудования</h2>
    <div></div>
  </div>
  <div class="flex flex-row pt-4 w-full h-1/6 rounded-lg pl-4 pt-2 overflow-y-auto">
    <ol class="list-disc list-inside tracking-wider space-y-1">
      <li>Идентификатор: {{ instance.uid }}</li>
      <li>Наименование: {{ instance.name }}</li>
      <li>Модель: {{ instance.modelName }}</li>
      <li>Идентификатор модели: {{ instance.modelUid }}</li>
      <li>Статус: {{ instance.status }}</li>
      <li>Описание: {{ instance.description }}</li>
    </ol>
  </div>
  <div class="flex flex-col w-full pl-4 pt-2 items-center border-b-2 border-blue-500">
    <h2 class="bold">Технические параметры</h2>
  </div>
  <div class="flex bg-white w-full overflow-y-auto place-content-center" *ngIf="params">
    <table class="table-fixed w-full">
      <thead>
        <tr>
          <th scope="col" class="p-2">№</th>
          <th scope="col" class="p-2 w-6/12">Наименование</th>
          <th scope="col" class="p-2 w-6/12">Единицы измерения</th>
        </tr>
      </thead>

      <tbody class="divide-y-2 divide-gray-200">
        <ng-container *ngIf="!(params | notEmpty)">
          <tr>
            <th scope="row" class="text-center" colspan="11">Нет доступных параметров</th>
            <td></td>
          </tr>
        </ng-container>

        <ng-container *ngIf="params | notEmpty">
          <ng-container *ngFor="let param of params; index as i">
            <tr id="heading{{ i }}" class="hover:bg-indigo-700 hover:text-white w-full h-9">
              <td class="pl-3 text-center">
                {{ i + 1 }}
              </td>
              <td class="text-center truncate">
                {{ param.name }}
              </td>
              <td class="text-center truncate">
                {{ param.measurmentUnits }}
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="flex flex-col w-full border-b-2 border-blue-500 pl-4 pt-2 items-center">
    <h2>Активные экраны мониторинга</h2>
  </div>
  <div class="flex bg-white w-full overflow-y-auto place-content-center" *ngIf="monitors">
    <table class="table-fixed w-full">
      <thead>
        <tr>
          <th scope="col" class="p-2">№</th>
          <th scope="col" class="p-2 w-6/12">Наименование</th>
          <th scope="col" class="p-2 w-6/12">Описание</th>
        </tr>
      </thead>

      <tbody class="divide-y-2 divide-gray-200">
        <ng-container *ngIf="!(monitors | notEmpty)">
          <tr>
            <th scope="row" class="text-center" colspan="11">Нет активных экранов мониторинга</th>
            <td></td>
          </tr>
        </ng-container>

        <ng-container *ngIf="monitors | notEmpty">
          <ng-container *ngFor="let monitor of monitors; index as i">
            <tr
              id="heading{{ i }}"
              class="hover:bg-indigo-700 hover:text-white w-full h-9"
              routerLink="/monitors/{{ monitor.uid }}"
            >
              <td class="pl-3 text-center">
                {{ i + 1 }}
              </td>
              <td class="text-center truncate">
                {{ monitor.name }}
              </td>
              <td class="text-center truncate">
                {{ monitor.description }}
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
