<app-fullscreen-loader *ngIf="isLoading"></app-fullscreen-loader>
<div class="flex flex-col h-full w-full bg-white rounded p-10 space-y-4 text-sm" *ngIf="model">
  <div class="flex flex-col w-full pl-4 pt-2 items-center border-b-2 border-blue-500">
    <h2>Модель оборудования: {{ model.name }}</h2>
  </div>
  <div class="flex flex-row pt-4 w-full h-1/6 rounded-lg pl-4 pt-2 overflow-y-auto">
    <p>Описание: {{ model.description }}</p>
  </div>
  <div class="flex flex-col w-full pl-4 pt-2 items-center border-b-2 border-blue-500">
    <h2 class="bold">Технические параметры</h2>
  </div>
  <div class="flex bg-white w-full overflow-y-auto place-content-center" *ngIf="params">
    <table class="table-fixed w-full">
      <thead>
        <tr>
          <th scope="col" class="p-2">№</th>
          <th scope="col" class="p-2 w-6/12">Наименование</th>
          <th scope="col" class="p-2 w-6/12">Единицы измерения</th>
        </tr>
      </thead>

      <tbody class="divide-y-2 divide-gray-200">
        <ng-container *ngIf="!(params | notEmpty)">
          <tr>
            <th scope="row" class="text-center" colspan="11">Нет доступных параметров</th>
            <td></td>
          </tr>
        </ng-container>

        <ng-container *ngIf="params | notEmpty">
          <ng-container *ngFor="let param of params; index as i">
            <tr id="heading{{ i }}" class="hover:bg-indigo-700 hover:text-white w-full h-9">
              <td class="pl-3 text-center">
                {{ i + 1 }}
              </td>
              <td class="text-center">
                {{ param.name }}
              </td>
              <td class="text-center">
                {{ param.measurmentUnits }}
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="flex flex-col w-full border-b-2 border-blue-500 pl-4 pt-2 items-center">
    <h2>Развернутые экземпляры</h2>
  </div>
  <div class="flex bg-white w-full overflow-y-auto place-content-center" *ngIf="instances">
    <table class="table-fixed w-full">
      <thead>
        <tr>
          <th scope="col" class="p-2">№</th>
          <th scope="col" class="p-2 w-6/12">Наименование</th>
          <th scope="col" class="p-2 w-6/12">Описание</th>
          <th scope="col" class="p-2 w-6/12">Статус</th>
        </tr>
      </thead>

      <tbody class="divide-y-2 divide-gray-200">
        <ng-container *ngIf="!(instances | notEmpty)">
          <tr>
            <th scope="row" class="text-center" colspan="11">Нет развернутых экземпляров</th>
            <td></td>
          </tr>
        </ng-container>

        <ng-container *ngIf="instances | notEmpty">
          <ng-container *ngFor="let instance of instances; index as i">
            <tr
              id="heading{{ i }}"
              class="hover:bg-indigo-700 hover:text-white w-full h-9"
              routerLink="/instances/{{ instance.uid }}"
            >
              <td class="pl-3 text-center">
                {{ i + 1 }}
              </td>
              <td class="text-center">
                {{ instance.name }}
              </td>
              <td class="text-center">
                {{ instance.description }}
              </td>
              <td class="text-center">
                {{ instance.status }}
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
