<app-fullscreen-loader *ngIf="isLoading"></app-fullscreen-loader>
<app-create-param *ngIf="isAdding" (addEvent)="addParam($event)"></app-create-param>
<div class="flex flex-col w-full bg-white rounded p-5 space-y-4 text-sm overflow-y-auto" *ngIf="model">
  <div class="flex flex-col w-full items-center border-b-2 border-blue-500">
    <h2>Модель оборудования</h2>
  </div>
  <div class="flex flex-col pt-4 w-full rounded-lg pl-4 pt-2 overflow-y-auto">
    <ol class="list-disc list-inside tracking-wider space-y-1 truncate">
      <li>Идентификатор: {{ model.uid }}</li>
      <li>Наименование: {{ model.name }}</li>
      <li>Описание: {{ model.description ?? 'отсутствует' }}</li>
    </ol>
  </div>
  <div class="flex flex-col w-full items-center border-b-2 border-blue-500">
    <h2 class="bold">Файлы</h2>
  </div>
  <div class="flex bg-white w-full max-h-72 overflow-y-auto place-content-center">
    <table class="table-fixed w-full">
      <thead>
        <tr>
          <th>
            <input
              *ngIf="isAllowed([UserRole.EquipmentAdmin, UserRole.SystemAdmin])"
              type="file"
              (change)="uploadFile($event)"
              placeholder="Upload file"
              accept=".pdf,.doc,.docx"
            />
          </th>
          <th scope="col" class="w-8/12">Имя</th>
          <th scope="col" class="w-4/12">Действия</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngIf="!files || !(files | notEmpty)">
          <tr>
            <th scope="row" class="text-center p-10" colspan="11">Нет доступных файлов</th>
            <td></td>
          </tr>
        </ng-container>

        <ng-container *ngIf="files | notEmpty">
          <ng-container *ngFor="let file of files; index as i">
            <tr id="heading{{ i }}" class="w-full h-11">
              <td class="text-center truncate" colspan="2">
                {{ file.filename }}
              </td>
              <td class="text-center truncate">
                <button class="hover:text-indigo-700 focus:outline-none" (click)="downloadFile(file)">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-arrow-down-circle"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
                    />
                  </svg>
                </button>
                <button
                  *ngIf="isAllowed([UserRole.EquipmentAdmin, UserRole.SystemAdmin])"
                  (click)="removeFile(file.uid)"
                  class="pl-4 focus:outline-none hover:text-indigo-700"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="flex flex-col w-full items-center border-b-2 border-blue-500">
    <h2 class="bold">Технические параметры</h2>
  </div>
  <div class="flex bg-white w-full max-h-72 overflow-y-auto place-content-center">
    <table class="table-fixed w-full">
      <thead>
        <tr>
          <th scope="col" class="w-1/12">
            <button
              *ngIf="isAllowed([UserRole.EquipmentAdmin, UserRole.SystemAdmin])"
              (click)="openModal()"
              class="
                bi bi-plus
                hover:bg-indigo-600 hover:text-white
                rounded-full
                focus:outline-none
                active:bg-indigo-800
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-plus"
                type="button"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                />
              </svg>
            </button>
          </th>
          <th scope="col" class="w-6/12">Наименование</th>
          <th scope="col" class="w-6/12">Единицы измерения</th>
          <th scope="col" class="w-1/12"></th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngIf="!params || !(params | notEmpty)">
          <tr>
            <th scope="row" class="text-center p-10" colspan="11">Нет доступных параметров</th>
            <td></td>
          </tr>
        </ng-container>

        <ng-container *ngIf="params | notEmpty">
          <ng-container *ngFor="let param of params; index as i">
            <tr id="heading{{ i }}" class="w-full h-9">
              <td class="pl-3 text-center">
                {{ i + 1 }}
              </td>
              <td class="text-center truncate">
                {{ param.name }}
              </td>
              <td class="text-center truncate">
                {{ param.measurmentUnits }}
              </td>
              <td class="text-center truncate">
                <button
                  *ngIf="isAllowed([UserRole.EquipmentAdmin, UserRole.SystemAdmin])"
                  (click)="removeParam(param.uid)"
                  class="focus:outline-none hover:text-indigo-700"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="flex flex-col w-full border-b-2 border-blue-500 items-center">
    <h2>Развернутые экземпляры</h2>
  </div>
  <div class="flex bg-white w-full max-h-72 overflow-y-auto place-content-center">
    <table class="table-fixed w-full">
      <thead>
        <tr>
          <th scope="col" class="p-2">№</th>
          <th scope="col" class="p-2 w-6/12">Наименование</th>
          <th scope="col" class="p-2 w-6/12">Описание</th>
          <th scope="col" class="p-2 w-6/12">Статус</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngIf="!instances || !(instances | notEmpty)">
          <tr>
            <th scope="row" class="text-center p-10" colspan="11">Нет развернутых экземпляров</th>
            <td></td>
          </tr>
        </ng-container>

        <ng-container *ngIf="instances | notEmpty">
          <ng-container *ngFor="let instance of instances; index as i">
            <tr
              id="heading{{ i }}"
              class="hover:bg-indigo-700 hover:text-white w-full h-9"
              routerLink="/instances/{{ instance.uid }}"
            >
              <td class="pl-3 text-center">
                {{ i + 1 }}
              </td>
              <td class="text-center truncate">
                {{ instance.name }}
              </td>
              <td class="text-center truncate">
                {{ instance.description }}
              </td>
              <td class="text-center truncate">
                {{ instance.status }}
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
