@font-face {
    font-family: "ComfortaaLight";
    src: url("./Comfortaa/Comfortaa-Light.ttf");
}

@font-face {
    font-family: "ComfortaaMedium";
    src: url("./Comfortaa/Comfortaa-Medium.ttf");
}