<form [formGroup]="credentials" novalidate (ngSubmit)="submit()">
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" name="email" formControlName="email"/>
    <div class="alert alert-danger"
        *ngIf="credentials.controls['email'].invalid && credentials.controls['email'].touched">
        Не указан email
    </div>
  </div>
  <div class="form-group">
    <label>Пароль</label>
    <input class="form-control" name="password" formControlName="password" />
    <div class="alert alert-danger"
        *ngIf="credentials.controls['password'].invalid && credentials.controls['password'].touched">
        Некорректный пароль
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default" [disabled]="credentials.invalid">
        Отправить
    </button>
  </div>
</form>