<app-create-equipment-instance *ngIf="isAdding" (addEvent)="addInstance($event)"></app-create-equipment-instance>
<app-fullscreen-loader *ngIf="isLoading"></app-fullscreen-loader>
<div *ngIf="!isLoading" class="flex flex-col w-full h-full space-y-1">
  <div class="flex bg-white shadow-lg rounded place-content-center pt-2 w-full">
    <h2>Список развернутых экземпляров оборудования</h2>
  </div>
  <div class="flex bg-white w-full rounded w-full">
    <table class="table-fixed w-full text-sm">
      <thead>
        <tr>
          <th scope="col" class="p-2">
            <button
              *ngIf="isAllowed([UserRole.EquipmentAdmin, UserRole.SystemAdmin])"
              (click)="openModal()"
              class="
                bi bi-plus
                hover:bg-indigo-600 hover:text-white
                rounded-full
                focus:outline-none
                active:bg-indigo-800
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-plus"
                type="button"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                />
              </svg>
            </button>
          </th>
          <th scope="col" class="w-1/12">№</th>
          <th scope="col" class="w-3/12">Наименование</th>
          <th scope="col" class="w-3/12">Модель</th>
          <th scope="col" class="w-3/12">Описание</th>
          <th scope="col" class="w-3/12">Статус</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody class="overflow-y-auto">
        <ng-container *ngIf="!(instances | notEmpty)">
          <tr>
            <th scope="row" class="text-center pt-20 pb-20" colspan="11">Нет развернутых экземпляров</th>
            <td></td>
          </tr>
        </ng-container>

        <ng-container *ngIf="instances | notEmpty">
          <ng-container *ngFor="let instance of instances; index as i">
            <tr
              *ngIf="i % 2"
              id="heading{{ i }}"
              class="hover:bg-indigo-700 hover:text-white w-full h-9"
              routerLink="/instances/{{ instance.uid }}"
            >
              <td class="pl-3 text-center"></td>
              <td class="text-center">
                {{ i + 1 }}
              </td>
              <td class="text-center truncate">
                {{ instance.name }}
              </td>
              <td class="text-center truncate">
                {{ instance.modelName }}
              </td>
              <td class="text-center truncate">
                {{ instance.description }}
              </td>
              <td class="text-center truncate">
                {{ instance.status }}
              </td>
              <td class="text-center truncate">
                <button
                  *ngIf="isAllowed([UserRole.EquipmentAdmin, UserRole.SystemAdmin])"
                  (click)="removeInstance(instance.uid)"
                  class="focus:outline-none"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
            <tr
              *ngIf="!(i % 2)"
              id="heading{{ i }}"
              class="bg-blue-100 hover:bg-indigo-700 hover:text-white w-full h-9"
              routerLink="/instances/{{ instance.uid }}"
            >
              <td class="pl-3 text-center"></td>
              <td class="text-center">
                {{ i + 1 }}
              </td>
              <td class="text-center truncate">
                {{ instance.name }}
              </td>
              <td class="text-center truncate">
                {{ instance.modelName }}
              </td>
              <td class="text-center truncate">
                {{ instance.description }}
              </td>
              <td class="text-center truncate">
                {{ instance.status }}
              </td>
              <td class="text-center truncate">
                <button
                  *ngIf="isAllowed([UserRole.EquipmentAdmin, UserRole.SystemAdmin])"
                  (click)="removeInstance(instance.uid)"
                  class="focus:outline-none"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
