<app-create-equipment-instance *ngIf="isAdding" (addEvent)="addInstance($event)"></app-create-equipment-instance>
<div class="flex flex-col w-full h-full space-y-1">
  <div class="flex bg-white shadow-lg rounded place-content-center pt-2 w-full">
    <h2>Список развернутых экземпляров оборудования</h2>
  </div>
  <div class="flex bg-white w-full rounded w-full">
    <table class="table-fixed w-full text-sm">
      <thead>
        <tr>
          <th scope="col" class="p-2">
            <button
              (click)="openModal()"
              class="
                bi bi-plus
                hover:bg-indigo-600 hover:text-white
                rounded-full
                focus:outline-none
                active:bg-indigo-800
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-plus"
                type="button"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                />
              </svg>
            </button>
          </th>
          <th scope="col" class="w-1/12">№</th>
          <th scope="col" class="w-3/12">Наименование</th>
          <th scope="col" class="w-3/12">Модель</th>
          <th scope="col" class="w-3/12">Описание</th>
          <th scope="col" class="w-3/12">Статус</th>
        </tr>
      </thead>

      <tbody class="divide-gray-100 overflow-y-auto">
        <ng-container *ngIf="!(instances | notEmpty)">
          <tr>
            <th scope="row" class="text-center" colspan="11">Нет развернутых экземпляров</th>
            <td></td>
          </tr>
        </ng-container>

        <ng-container *ngIf="instances | notEmpty">
          <ng-container *ngFor="let instance of instances; index as i">
            <tr
              *ngIf="i % 2"
              id="heading{{ i }}"
              class="hover:bg-indigo-700 hover:text-white w-full h-9"
              routerLink="/instances/{{ instance.uid }}"
            >
              <td class="pl-3 text-center"></td>
              <td class="text-center">
                {{ i + 1 }}
              </td>
              <td class="text-center truncate">
                {{ instance.name }}
              </td>
              <td class="text-center truncate">
                {{ instance.modelName }}
              </td>
              <td class="text-center truncate">
                {{ instance.description }}
              </td>
              <td class="text-center truncate">
                {{ instance.status }}
              </td>
            </tr>
            <tr
              *ngIf="!(i % 2)"
              id="heading{{ i }}"
              class="bg-blue-100 hover:bg-indigo-700 hover:text-white w-full h-9"
              routerLink="/instances/{{ instance.uid }}"
            >
              <td class="pl-3 text-center"></td>
              <td class="text-center">
                {{ i + 1 }}
              </td>
              <td class="text-center truncate">
                {{ instance.name }}
              </td>
              <td class="text-center truncate">
                {{ instance.modelName }}
              </td>
              <td class="text-center truncate">
                {{ instance.description }}
              </td>
              <td class="text-center truncate">
                {{ instance.status }}
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
